{% extends "base.html" %}

{% block content %}

    <h2>New Post</h2>
    <hr>

        <form method="blog">
            <label for="">
                <div>title</div>
                <input type="text" name="title" value="{{title}}">
            </label>
            <br>
            <label for="">
                <div>blog</div>
                <textarea name="blog">{{blog}}</textarea>
            </label>
            <br>
            <div class="error">{{error}}</div>
            <br>
            <input type="submit">
        </form>

{% endblock %}
